.container {
    max-width: 90%;
    margin: auto;
    margin-block: 1rem;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    padding: 1rem;
}

.product {
    width: 22%;
    text-align: center;
    position: relative;
    margin-top: 1rem;
}

.product_content {
    margin-block: .3rem;
}

.img {
    width: 100%;
}

.stocke {
    position: absolute;
    top: 0%;
    background-color: brown;
    color: aliceblue;
    padding-inline: 5px;
    border-bottom-right-radius: 12px;
}

.btn {
    padding-inline: 1.1rem;
    padding-block: .2rem;
    margin-block: 5px;
    cursor: pointer;
    background-color: green;
    border: none;
    outline: none;
    color: aliceblue;
    border-radius: 7px;
}

.paginate {
    max-width: 90%;
    margin: auto;
    margin-block: 1rem;
    /* background-color: aqua; */
}

@media(max-width:1000px) {
    .product {
        width: 30%;

    }

    .container {
        width: 95%;
        flex-wrap: wrap;
    }

    .stocke {
        padding-inline: 3px;
        margin-bottom: .3rem;
    }
}

@media(max-width:745px) {
    .product {
        width: 45%;

    }

    .container {
        max-width: 99%;
        flex-wrap: wrap;
        padding: .5rem;
        margin: auto;
    }

    .stocke {
        padding-inline: 3px;
        margin-bottom: .3rem;
    }
}

@media(max-width:490px) {
    .product {
        width: 70%;

    }

    .img {
        width: 100%;
    }



    .container {
        max-width: 94%;
        flex-wrap: wrap;
        padding: .5rem;
        margin: auto;
        margin-block: 1.3rem;
    }

    .stocke {
        padding-inline: 3px;
        margin-bottom: .3rem;
    }
}